// surface
$sys-color-surface-inverse1: $color-neutral-900;
$sys-color-surface-inverse2: $color-neutral-800;

// background
$sys-color-bg-base: $color-neutral-900;
$sys-color-bg-inverse: $color-neutral-800;
$sys-color-bg-primary: $color-neutral-800;
$sys-color-bg-secondary: $color-neutral-700;
$sys-color-bg-tertiary: $color-neutral-600;

$sys-color-bg-decorative-secondary: $color-decorative-neon-green-200;
$sys-color-bg-overlay: rgba($color-black, 0.7);

$sys-color-bg-brand: $color-brand-primary-300;
$sys-color-bg-pressed: $color-brand-primary-400;
$sys-color-bg-disabled: $color-neutral-500;

$sys-color-bg-on-brand: $color-neutral-100;
$sys-color-bg-error: $color-functional-red-100;
$sys-color-bg-accent: $color-brand-secondary-300;

// icon
$sys-color-icon-primary: $color-neutral-200;
$sys-color-icon-secondary: $color-brand-primary-300;

$sys-color-icon-nav-selected: $color-brand-primary-300;
$sys-color-icon-nav-default: $color-neutral-400;

$sys-color-icon-bg: $color-neutral-200;
$sys-color-icon-light: $color-neutral-100;
$sys-color-icon-dark: $color-neutral-700;

// infographic
$sys-color-infographics-default: $color-neutral-500;
$sys-color-infographics-highlight: $color-decorative-neon-blue-200;

// border
$sys-color-border-default: $color-neutral-600;
$sys-color-border-brand: $color-brand-primary-300;

$sys-color-border-highlight: $color-decorative-neon-blue-200;
$sys-color-border-selection: $color-neutral-400;
$sys-color-border-disabled: $color-neutral-500;
$sys-color-border-error: $color-functional-red-100;

// text
$sys-color-text-primary: $color-white;
$sys-color-text-secondary: $color-neutral-100;
$sys-color-text-tertiary: $color-neutral-300;
$sys-color-text-light: $color-white;
$sys-color-text-dark: $color-black;

$sys-color-text-accent: $color-brand-secondary-300;
$sys-color-text-highlight: $color-decorative-neon-blue-200;

$sys-color-text-success: $color-functional-green-100;
$sys-color-text-warning: $color-functional-orange-100;
$sys-color-text-error: $color-functional-red-100;

$sys-color-text-pressed: $color-brand-primary-400;
$sys-color-text-disabled: $color-neutral-500;
$sys-color-text-brand: $color-brand-primary-300;
$sys-color-text-on-brand: $color-white;

$sys-color-text-decrease: $color-functional-green-100;
$sys-color-text-increase: $color-functional-red-100;

// box-shadow
$box-shadow-card: 0 4px 24px rgba($color-black, 0.3);
$box-shadow-popup: 2px 2px 36px rgba($color-black, 0.5);
$box-shadow-bottom-sheet: 2px -2px 16px rgba($color-black, 0.5);
$box-shadow-nav: 0 1px 4px rgba($color-black, 0.3);
$box-shadow-drag: 0 0 16px rgba($color-black, 0.3);

// 舊頁面適用
$sys-color-legacy-brand: $color-brand-primary-300;
$sys-color-legacy-on-brand: $color-white;
$sys-color-legacy-default: $color-neutral-600;
$sys-color-legacy-text-default: $color-neutral-400;
$sys-color-legacy-disabled: $color-neutral-500;
$sys-color-legacy-pressed: $color-brand-primary-400;

$sys-color-legacy-orange: $color-functional-orange-100;
$sys-color-legacy-red: $color-functional-red-100;
$sys-color-legacy-green: $color-functional-green-100;
$sys-color-legacy-accent: $color-brand-secondary-300;