// surface
$sys-color-surface-inverse1: $color-neutral-900;
$sys-color-surface-inverse2: $color-neutral-800;

// background
$sys-color-bg-base: $color-neutral-900;
$sys-color-bg-inverse1: $color-neutral-900;
$sys-color-bg-inverse2: $color-neutral-800;
$sys-color-bg-light: $color-neutral-200;
$sys-color-bg-contrast: rgba($color-neutral-100, 0.8);

$sys-color-bg-primary: $color-neutral-800;
$sys-color-bg-secondary: $color-neutral-700;
$sys-color-bg-tertiary: $color-neutral-600;

$sys-color-bg-decorative-secondary: $color-decorative-neon-green-100;
$sys-color-bg-overlay: rgba($color-black, 0.7);
$sys-color-bg-fab: $color-neutral-300;

$sys-color-bg-brand: $color-brand-primary-300;
$sys-color-bg-pressed: $color-brand-primary-400;
$sys-color-bg-disabled: $color-neutral-500;
$sys-color-bg-chosen: rgba($color-brand-primary-300, 0.1);

$sys-color-bg-onBrand: $color-neutral-100;
$sys-color-bg-error: $color-functional-red-100;
$sys-color-bg-accent: $color-brand-secondary-300;

$sys-color-bg-decrease: $color-functional-green-100;
$sys-color-bg-increase: $color-functional-red-100;

// icon
$sys-color-icon-primary: $color-neutral-200;
$sys-color-icon-secondary: $color-brand-primary-300;

$sys-color-icon-nav-selected: $color-brand-primary-300;
$sys-color-icon-nav-default: $color-neutral-400;

$sys-color-icon-bg: $color-neutral-200;
$sys-color-icon-light: $color-neutral-100;
$sys-color-icon-dark: $color-neutral-800;
$sys-color-icon-onBrand: $color-white;
$sys-color-icon-fill: $color-neutral-100;
$sys-color-icon-inverse: $color-neutral-800;
$sys-color-icon-success: $color-functional-green-100;

// infographic
$sys-color-infographics-default: $color-neutral-500;
$sys-color-infographics-highlight: $color-decorative-neon-blue-100;

// border
$sys-color-border-default: $color-neutral-600;
$sys-color-border-base: $color-neutral-900;
$sys-color-border-brand: $color-brand-primary-300;
$sys-color-border-inverse: $color-neutral-100;

$sys-color-border-pressed: $color-brand-primary-400;
$sys-color-border-highlight: $color-decorative-neon-blue-100;
$sys-color-border-selection: $color-neutral-400;
$sys-color-border-disabled: $color-neutral-500;
$sys-color-border-error: $color-functional-red-100;

$sys-color-border-fab: $color-neutral-100;

// border gradient
// -- widget --
$sys-color-border-gradient1: linear-gradient(180deg, $color-neutral-800 0%, $color-neutral-500 100%);

// text
$sys-color-text-primary: $color-white;
$sys-color-text-secondary: $color-neutral-100;
$sys-color-text-tertiary: $color-neutral-400;
$sys-color-text-light: $color-white;
$sys-color-text-dark: $color-black;

$sys-color-text-default: $color-neutral-400;
$sys-color-text-accent: $color-brand-secondary-300;
$sys-color-text-highlight: $color-decorative-neon-blue-100;

$sys-color-text-success: $color-functional-green-100;
$sys-color-text-warning: $color-functional-orange-100;
$sys-color-text-error: $color-functional-red-100;

$sys-color-text-pressed: $color-brand-primary-400;
$sys-color-text-disabled: $color-neutral-500;
$sys-color-text-brand: $color-brand-primary-300;
$sys-color-text-onBrand: $color-white;
$sys-color-text-inverse: $color-black;

$sys-color-text-decrease: $color-functional-green-100;
$sys-color-text-increase: $color-functional-red-100;

// box-shadow
$box-shadow-card: 0 4px 24px rgba($color-black, 0.3);
$box-shadow-popup: 2px 2px 36px rgba($color-black, 0.5);
$box-shadow-bottom-sheet: 2px -2px 16px rgba($color-black, 0.5);
$box-shadow-nav: 0 1px 4px rgba($color-black, 0.3);
$box-shadow-drag: 0 0 16px rgba($color-black, 0.3);
$box-shadow-bottom-nav: 0 -1 4px rgba($color-black, 0.3);
$box-shadow-bottom-base: 0 0 2px rgba($color-black, 0.5);

// 舊頁面適用
$sys-color-legacy-brand: $color-brand-primary-300;
$sys-color-legacy-onBrand: $color-white;
$sys-color-legacy-default: $color-neutral-600;
$sys-color-legacy-text-default: $color-neutral-400;
$sys-color-legacy-disabled: $color-neutral-500;
$sys-color-legacy-pressed: $color-brand-primary-400;
$sys-color-legacy-base: $color-gray;

$sys-color-legacy-orange: $color-functional-orange-100;
$sys-color-legacy-red: $color-functional-red-100;
$sys-color-legacy-green: $color-functional-green-100;
$sys-color-legacy-accent: $color-brand-secondary-300;