// surface
$sys-color-surface-inverse1: $color-white;
$sys-color-surface-inverse2: $color-white;

// background
$sys-color-bg-base: $color-neutral-50;
$sys-color-bg-inverse1: $color-white;
$sys-color-bg-inverse2: $color-white;
$sys-color-bg-light: $color-white;
$sys-color-bg-contrast: rgba($color-neutral-900, 0.8);

$sys-color-bg-primary: $color-neutral-50;
$sys-color-bg-secondary: $color-neutral-200;
$sys-color-bg-tertiary: $color-neutral-400;

$sys-color-bg-decorative-secondary: $color-decorative-neon-green-200;
$sys-color-bg-overlay: rgba($color-black, 0.5);

$sys-color-bg-brand: $color-brand-primary-300;
$sys-color-bg-pressed: $color-brand-primary-400;
$sys-color-bg-disabled: $color-neutral-400;
$sys-color-bg-chosen: rgba($color-brand-primary-100, 0.7)

$sys-color-bg-onBrand: $color-neutral-100;
$sys-color-bg-error: $color-functional-red-200;
$sys-color-bg-accent: $color-brand-secondary-400;

$sys-color-bg-decrease: $color-functional-green-200;
$sys-color-bg-increase: $color-functional-red-200;

//icon
$sys-color-icon-primary: $color-neutral-700;
$sys-color-icon-secondary: $color-brand-primary-300;

$sys-color-icon-nav-selected: $color-brand-primary-300;
$sys-color-icon-nav-default: $color-neutral-300;

$sys-color-icon-bg: $color-neutral-200;
$sys-color-icon-light: $color-white;
$sys-color-icon-dark: $color-neutral-700;
$sys-color-icon-onBrand: $color-white;
$sys-color-icon-fill: $color-neutral-600;
$sys-color-icon-inverse: $color-white;
$sys-color-icon-success: $color-functional-green-200;

// infographic
$sys-color-infographics-default: $color-neutral-400;
$sys-color-infographics-highlight: $color-decorative-neon-blue-200;

// border
$sys-color-border-default: $color-neutral-200;
$sys-color-border-base: $color-neutral-50;
$sys-color-border-brand: $color-brand-primary-300;
$sys-color-border-inverse: $color-neutral-500;

$sys-color-border-pressed: $color-brand-primary-400;
$sys-color-border-highlight: $color-decorative-neon-blue-200;
$sys-color-border-selection: $color-neutral-500;
$sys-color-border-disabled: $color-neutral-400;
$sys-color-border-error: $color-functional-red-200;

// border gradient
// -- widget --
$sys-color-border-gradient1: linear-gradient(180deg, $color-white 0%, $color-neutral-200 100%);

// text
$sys-color-text-primary: $color-black;
$sys-color-text-secondary: $color-neutral-800;
$sys-color-text-tertiary: $color-neutral-500;
$sys-color-text-dark: $color-black;
$sys-color-text-light: $color-white;

$sys-color-text-default: $color-neutral-500;
$sys-color-text-accent: $color-brand-secondary-400;
$sys-color-text-highlight: $color-decorative-neon-blue-200;

$sys-color-text-success: $color-functional-green-200;
$sys-color-text-warning: $color-functional-orange-200;
$sys-color-text-error: $color-functional-red-200;

$sys-color-text-pressed: $color-brand-primary-400;
$sys-color-text-disabled: $color-neutral-400;
$sys-color-text-brand: $color-brand-primary-300;
$sys-color-text-onBrand: $color-white;
$sys-color-text-inverse: $color-white;

$sys-color-text-decrease: $color-functional-green-200;
$sys-color-text-increase: $color-functional-red-200;

// box-shadow
$box-shadow-card: 0 4px 24px rgba($color-neutral-700, 0.08);
$box-shadow-popup: 2px 2px 36px rgba($color-neutral-700, 0.2);
$box-shadow-bottom-sheet: 0 -2px 12px rgba($color-neutral-700, 0.2);
$box-shadow-nav: 0 1px 4px rgba($color-neutral-700, 0.08);
$box-shadow-drag: 0 0 16px rgba($color-neutral-700, 0.2);
$box-shadow-bottom-nav: 0 -1px 4px rgba($color-neutral-700, 0.08);
$box-shadow-bottom-base: 0 2px 8px rgba($color-neutral-700, 0.08);

// 舊頁面適用
$sys-color-legacy-brand: $color-brand-primary-300;
$sys-color-legacy-onBrand: $color-white;
$sys-color-legacy-default: $color-neutral-300;
$sys-color-legacy-text-default: $color-neutral-500;
$sys-color-legacy-disabled: $color-neutral-400;
$sys-color-legacy-pressed: $color-brand-primary-400;
$sys-color-legacy-base: $color-neutral-100;

$sys-color-legacy-orange: $color-functional-orange-200;
$sys-color-legacy-red: $color-functional-red-200;
$sys-color-legacy-green: $color-functional-green-200;
$sys-color-legacy-accent: $color-brand-secondary-400;
