/* COLORS BASE */
$color-neutral-50: #edf0f2;
$color-neutral-100: #e8ebed;
$color-neutral-200: #D7DCE1;
$color-neutral-300: #C3C8CF;
$color-neutral-400: #A6ADB5;
$color-neutral-500: #7D8793;
$color-neutral-600: #48556C;
$color-neutral-700: #364053;
$color-neutral-800: #2a3342;
$color-neutral-900: #1B2028;

$color-white: #fdfdfd;
$color-black: #09090a;

/* COLORS BRAND */
$color-brand-primary-100: #e2fbfe;
$color-brand-primary-200: #64cedb;
$color-brand-primary-300: #17b6c9;
$color-brand-primary-400: #15a6b7;
$color-brand-primary-500: #10818f;

$color-brand-secondary-100: #ead5be;
$color-brand-secondary-200: #d4a775;
$color-brand-secondary-300: #c99254;
$color-brand-secondary-400: #b0742f;
$color-brand-secondary-500: #885823;

/* COLORS FUNCTIONAL */
$color-functional-red-100: #DF636A;
$color-functional-red-200: #D02429;

$color-functional-green-100: #4EBB91;
$color-functional-green-200: #05985a;

$color-functional-orange-100: #f79e7a;
$color-functional-orange-200: #F3713D;

/* COLORS DECORATIVE */
$color-decorative-neon-blue-100: #2de9f6;
$color-decorative-neon-blue-200: #2be0ec;
$color-decorative-neon-green-100: #dafa5f;
$color-decorative-neon-green-200: #d2f34e;